src/wsdl/monk-notebook_8080/PersonService/PersonService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://testperson.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://testperson.mycompany.com/" name="PersonService">
<types>
<xsd:schema>
<xsd:import namespace="http://testperson.mycompany.com/" schemaLocation="http://monk-notebook:8080/PersonService/PersonService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getPersonById">
<part name="parameters" element="tns:getPersonById"/>
</message>
<message name="getPersonByIdResponse">
<part name="parameters" element="tns:getPersonByIdResponse"/>
</message>
<message name="getPersonInfo">
<part name="parameters" element="tns:getPersonInfo"/>
</message>
<message name="getPersonInfoResponse">
<part name="parameters" element="tns:getPersonInfoResponse"/>
</message>
<portType name="PersonService">
<operation name="hello">
<input wsam:Action="http://testperson.mycompany.com/PersonService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://testperson.mycompany.com/PersonService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getPersonById">
<input wsam:Action="http://testperson.mycompany.com/PersonService/getPersonByIdRequest" message="tns:getPersonById"/>
<output wsam:Action="http://testperson.mycompany.com/PersonService/getPersonByIdResponse" message="tns:getPersonByIdResponse"/>
</operation>
<operation name="getPersonInfo">
<input wsam:Action="http://testperson.mycompany.com/PersonService/getPersonInfoRequest" message="tns:getPersonInfo"/>
<output wsam:Action="http://testperson.mycompany.com/PersonService/getPersonInfoResponse" message="tns:getPersonInfoResponse"/>
</operation>
</portType>
<binding name="PersonServicePortBinding" type="tns:PersonService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPersonById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPersonInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonService">
<port name="PersonServicePort" binding="tns:PersonServicePortBinding">
<soap:address location="http://monk-notebook:8080/PersonService/PersonService"/>
</port>
</service>
</definitions>