src/wsdl/monk-notebook_8080/PersonService/PersonService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://testperson.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://testperson.mycompany.com/">

<xs:element name="getPersonById" type="tns:getPersonById"/>

<xs:element name="getPersonByIdResponse" type="tns:getPersonByIdResponse"/>

<xs:element name="getPersonInfo" type="tns:getPersonInfo"/>

<xs:element name="getPersonInfoResponse" type="tns:getPersonInfoResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="person" type="tns:person"/>

<xs:complexType name="getPersonInfo">
<xs:sequence>
<xs:element name="requestParams" type="tns:personRequest" minOccurs="0"/>
<xs:element name="requestType" type="tns:typeRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personRequest">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPersonInfoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPersonById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPersonByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="age" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="salary" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="typeRequest">
<xs:restriction base="xs:string">
<xs:enumeration value="RSalary"/>
<xs:enumeration value="RAge"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>